@import "_font";
@import "_var";

$top-clr:#2B4074;
$txt-clr: #4a4a4a;
$bg-clr: #F9F6E5;

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'roboto', 'dosis','roboto condensed';
}

.container{
    padding: 0 20px;
}

@media (min-width:640px){
    .container{
        padding: 0 30px;
    }
}

@media (min-width:768px){
    .container{
        padding: 0 40px;
    }
}

@media (min-width:1024px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
}

@media (min-width:1440px){
    .container{
        max-width: 1320px;
    }
}

//Header 

.header{
    background-color: $top-clr;
    &__inner{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 640px){
    .header__inner{
        min-height: 100px;
    }
}

.logo{
    &__link{
        padding: 8px;
    }
}

@media (min-width: 640px){
    .logo{
        &__link{
            padding:14px ;
        }
    }
}

@media (min-width: 768px){
    .logo{
        &__link{
            padding:0px ;
        }
    }
}

.menu{
    &__btn{
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 3px;
        border: none;
        position: relative;
        &::after{
            content:"" ;
            width: 12px;
            height: 2px;
            background-color: $top-clr;
            left: 14px;
            top: 15px;
            box-shadow: 0 4px 0 0 $top-clr, 0 8px 0 0 $top-clr;
            position: absolute;
        }
    }
}

//section head

.head{
    background-image: url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

@media (min-width: 640px){
    .head{
        min-height: 386px;
    }
}

@media (min-width: 768px){
    .head{
        min-height: 465px;
    }
}

@media (min-width: 1024px){
    .head{
        min-height: 618px;
    }
}

@media (min-width: 1440px){
    .head{
        min-height: 668px;
    }
}


.sliders{
    background: rgba(33, 33, 33, 0.5);
    &__btn{
        display: none;
    }
    &__description{
        display: none;
    }
    &__item{
        color: #fff;
        text-align: center;
        min-height: 193px;
    }
    &__title{
        font-family: 'roboto condensed';
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-transform: uppercase;
        padding: 36px 0 28px;
        max-width: 243px;
        margin: 0 auto;
        position: relative;
        &::after{
            content:"";
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            width: 61px;
            margin: 0 auto;
            background-color: $txt-clr;
            position: absolute;
        }
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .slick-active{
            button{
                background-color: transparent;
                border: 2px solid #476E4D; 
            } 
        }
        button{
            font-size: 0;
            border: none;
            background-color: $top-clr;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}

@media (min-width: 640px){
    .sliders{
        &__item{
            min-height: 386px;
        }
        &__title{
            font-size: 60px;
            line-height: 60px;
            padding: 50px 0 15px;
            margin: 0 auto 30px;
            max-width: 522px;
        }
        &__btn{
            display: block;
            margin: 0 auto 113px;
            font-size: 18px;
            line-height: 18px;
            background-color: $top-clr;
            color: $bg-clr;
            padding: 15px 46px;
            border: none;
            border-radius: 3px;
            font-family: 'roboto condensed';
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 300;
            
        }
        .slick-dots{
            bottom: 50px;
            button{
                width: 20px;
                height: 20px;
                margin: 0 20px;
            }
        }
        .slick-arrow{
            width: 56px;
            height: 56px;
            border: none;
            position: absolute;
            right: 0;
            z-index: 2;
        }
        .slick-prev{
            background-color: $top-clr;
            top: calc(50% - 56px);
        }
        .slick-next{
            background-color: $bg-clr;
            bottom: calc(50% - 56px);
        }
    }
}

@media (min-width: 768px){
    .sliders{
        &__item{
            min-height: 465px;
        }
        &__title{
            padding: 85px 0 15px;
            margin: 0 auto;
            &::after{
                display: none;
            }
        }
        &__description{
            display: block;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            padding: 23px 0 32px;
            max-width: 587px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1024px){
    .sliders{
        &__item{
            min-height: 618px;
        }
        &__title{
            padding: 85px 0 15px;
            line-height: 84px;
            font-size: 84px;
            letter-spacing: 2px;
            max-width: 750px;
        }
        &__btn{
            margin: 38px auto auto;
            padding: 20px 60px;
            font-size: 23px;
            line-height: 23px;
        }
        &__description{
            font-size: 22px;
            line-height: 22px;
            max-width: 800px;
        }
    }
} 

@media (min-width: 1440px){
    .sliders{
        &__item{
            min-height: 668px;
        }
        &__title{
            padding: 107px 0 15px;
            line-height: 96px;
            font-size: 96px;
            letter-spacing: 2px;
            max-width: 750px;
        }
        &__description{
            font-size: 28px;
            line-height: 28px;
            max-width: 1000px;
        }
    }
} 